<!-- src/app/article-detail/article-detail.component.html -->
<div class="container">
    <div *ngIf="article">
      <h1>{{ article.title }}</h1>
      <p> {{article.body}} </p>
      <a [routerLink]="['/articles', article.id]" class="btn btn-outline-primary">
        <i class="bi bi-pen"></i>
      </a> 
           <button (click)="deleteArticle()" class="btn btn-danger">Supprimer</button>
    </div>
    <div *ngFor="let comment of comments">
      <h1>{{ comment.name }}</h1>
      <p>{{ comment.body }}</p>
    </div>
    

  </div>
  